@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrap{
    margin:0 auto;
}
img{
    display: block;
  margin: 0 auto;
}
section 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container
{
	position: absolute;
	left: -10%;
	width: 120%;
	height: 100vh;
    background: url('../assets/bg.jpg');
}
.container #scene .layer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
.container .layer img
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .layer img.moon
{
    background-blend-mode: screen;
}
.login 
{
    position: relative;
    padding: 60px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.25);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

.login .qa-title-img {
    width: 150px;
}
.login h1 
{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.login h2 
{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
.login .inputBox 
{
    position: relative;
}
.login .inputBox input 
{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: #fff;
    border-radius: 5px;
    background: #fff;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 30px;
}
.login .inputBox ::placeholder 
{
    color: rgba(255,255,255,0.5);
}
.login .inputBox #btn 
{
    position: relative;
    border: none;
    outline: none;
    background: linear-gradient(0deg, #688273, #688273);
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    box-shadow: none;
    transition: 0.5s;
}
.login .group 
{
    display: flex;
    justify-content: space-between;
}
.login .group a 
{
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
}
.login .group a:nth-child(2)
{
    text-decoration: underline;
}

html {
    min-width: 400px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login {
        /*zoom: 80%;*/
        -webkit-transform: scaleX(70%) scaleY(50%);
        -moz-transform: scaleX(70%) scaleY(50%);
        -ms-transform: scaleX(70%) scaleY(50%);
        -o-transform: scaleX(70%) scaleY(50%);
        transform: scaleX(70%) scaleY(50%);
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px)  {
    .login {
        /*zoom: 80%;*/
        -webkit-transform: scaleX(70%) scaleY(50%);
        -moz-transform: scaleX(70%) scaleY(50%);
        -ms-transform: scaleX(70%) scaleY(50%);
        -o-transform: scaleX(70%) scaleY(50%);
        transform: scaleX(70%) scaleY(50%);
    }
}

@media only screen and (max-height: 400px)  {
    .login {
        /*zoom: 80%;*/
        zoom: 60% !important;
    }
}

@media only screen and (min-height: 400px) and (max-height: 620px)  {
    .login {
        /*zoom: 80%;*/
        zoom: 60% !important;
    }
}

@media only screen and (min-height: 620px) and (max-width: 500px) {
    .login {
        /*zoom: 80%;*/
        /*zoom: 100% !important;*/
        /*-webkit-transform: scale(1.5) !important;*/
        /*-moz-transform: scale(1.5) !important;*/
        /*-ms-transform: scale(1.5) !important;*/
        /*-o-transform: scale(1.5) !important;*/
        /*transform: scale(1.5) !important;*/
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1190px) and (min-height: 960px){
    .login {
        /*zoom: 80%;*/
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@media only screen and (min-width: 1200px) {
    .login {
        zoom: 80%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.crHwkP {
    z-index: 2000000000;
    opacity: 1;
    position: fixed;
    inset: 0px;
    display: block !important;
}
.kZxbvk {
    position: fixed;
    bottom: 0px;
    max-width: calc(100% - 40px);
    height: 100%;
    overflow: auto;
    top: 0px;
    right: 0px;
    background: rgba(252, 252, 252, 0.9);
    z-index: 2000000000;
    opacity: 1;
}
.lbvXTF {
    position: fixed;
    z-index: 10000;
    margin: 20px;
    inset: auto 0px 0px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hjFUtE {
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: inherit;
    background-color: rgb(0, 102, 153) !important;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
    position: relative;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    padding: 0px;
    line-height: 1.32;
    cursor: pointer;
    font-weight: bold;
    font-size: 0px;
    box-sizing: border-box;
    background: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-style: solid;
    border-width: 2px;
    margin: 0;
}
.jUXzLe {
    padding: 8px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: inherit;
    box-sizing: border-box;
    width: 100%;
}

.hPVtvf {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dqiKFy {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hPVtvf img, .hPVtvf svg {
    display: block;
    object-fit: contain;
    width: 16px;
    height: 16px;
    fill: currentcolor;
}

/*// Contact*/
.kZxbvk {
    position: fixed;
    bottom: 0px;
    max-width: calc(100% - 40px);
    height: 100%;
    overflow: auto;
    top: 0px;
    right: 0px;
    z-index: 2000000000;
    width: 580px;
    transform: translateX(0%) translateZ(0px);
}

.eOihTZ {
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 12px;
}

.jldcgw {
    background-color: rgba(17, 17, 17, 0.5) !important;
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.iDvZEU {
    width: 16px;
    height: 16px;
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.geUwjQ > div {
    width: inherit;
    height: inherit;
}

.geUwjQ > div > svg {
    display: block;
    width: inherit;
    height: inherit;
}

.REYLJ {
    max-width: 580px;
    height: 100%;
    margin: auto;
}

.hsrHoI {
    position: relative;
    overflow: hidden;
    border: 0px solid transparent;
    box-sizing: border-box;
}

.bTBMcd {
    position: absolute;
    inset: 0px;
}
.kZxOKf {
    display: block;
    background-color: rgb(255, 255, 255);
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
.hGduSE {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    inset: 0px;
    z-index: 2;
}
.fyVdxN {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
.jdVdAT {
    width: 100%;
}
.fJTPIq {
    height: 100%;
}
.iWJRdu {
    text-align: left;
    margin-bottom: 20px;
}
/*form*/
.hCmtez {
    margin-left: -10px;
    margin-right: -10px;
    text-align: left;
}
.fhufZN {
    box-sizing: border-box;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.bBKQWp {
    padding: 10px 0px;
    border-width: 1px;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    border-color: rgba(0, 0, 0, 0);
    background: transparent;
    color: rgb(0, 0, 0);
    opacity: 1;
    position: relative;
    display: flex;
    border-bottom: 1px solid lightgray !important;
    cursor: text;
}
.cjvHgB {
    position: relative;
    flex: 1 1 0%;
}

.kvsohB {
    box-sizing: border-box;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    /*width: 50%;*/
    padding: 0px 10px;
    margin-bottom: 20px;
}
.ckjMpy {
    opacity: 1;
    transform: none;
    position: relative;
    z-index: 1;
}
.CWjVC {
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.juagnm input, .juagnm input:focus {
    background: none !important;
    border: none !important;
    /*font-size: inherit !important;*/
    line-height: inherit !important;
    padding: 0px !important;
    box-shadow: none !important;
    color: inherit !important;
    height: auto !important;
    min-height: unset !important;
    margin: 0px !important;
}
.gBjtAo {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    transform: translate3d(0px, 0px, 0px);
}
.fAsWhd {
    display: flex;
    column-gap: 20px;
    -webkit-box-pack: center;
    justify-content: center;
}

.gINuAf {
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-style: normal;
    background-color: rgb(0, 102, 153);
    position: relative;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    padding: 0px;
    line-height: 1.32;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    background: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-style: solid;
    border-width: 2px;
}
.jUXzLe {
    padding: 11px 30px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: inherit;
    box-sizing: border-box;
    width: 100%;
}
.dqiKFy {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CWjVC {
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.gBjtAo {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    transform: translate3d(0px, 0px, 0px);
}

.iWJRdu {
    text-align: left;
    margin-bottom: 20px;
}
.SZtf {
    margin: 0px auto;
}
.dBDOqu {
    line-height: 1.32;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    color: rgb(0, 0, 0);
}
.cDHYvE {
    margin-top: 8px;
    line-height: 1.4;
    font-size: 15px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
}.crHwkP {
     z-index: 2000000000;
     opacity: 1;
     position: fixed;
     inset: 0px;
     display: block !important;
 }
.kZxbvk {
    position: fixed;
    bottom: 0px;
    max-width: calc(100% - 40px);
    height: 100%;
    overflow: auto;
    top: 0px;
    right: 0px;
    background: rgba(252, 252, 252, 0.9);
    z-index: 2000000000;
    opacity: 1;
}
.lbvXTF {
    position: fixed;
    z-index: 10000;
    margin: 20px;
    inset: auto 0px 0px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hjFUtE {
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: inherit;
    background-color: rgb(0, 102, 153) !important;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
    position: relative;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    padding: 0px;
    line-height: 1.32;
    cursor: pointer;
    font-weight: bold;
    font-size: 0px;
    box-sizing: border-box;
    background: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-style: solid;
    border-width: 2px;
    margin: 0;
}
.jUXzLe_1 {
    padding: 8px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: inherit;
    box-sizing: border-box;
    width: 100%;
}

.hPVtvf {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dqiKFy {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hPVtvf img, .hPVtvf svg {
    display: block;
    object-fit: contain;
    width: 16px;
    height: 16px;
    fill: currentcolor;
}

/*// Contact*/
.kZxbvk {
    position: fixed;
    bottom: 0px;
    max-width: calc(100% - 40px);
    height: 100%;
    overflow: auto;
    top: 0px;
    right: 0px;
    z-index: 2000000000;
    width: 580px;
    transform: translateX(0%) translateZ(0px);
}

.eOihTZ {
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 12px;
}

.jldcgw {
    background-color: rgba(17, 17, 17, 0.5) !important;
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.iDvZEU {
    width: 16px;
    height: 16px;
    fill: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.geUwjQ > div {
    width: inherit;
    height: inherit;
}

.geUwjQ > div > svg {
    display: block;
    width: inherit;
    height: inherit;
}

.REYLJ {
    max-width: 580px;
    height: 100%;
    margin: auto;
}

.hsrHoI {
    position: relative;
    overflow: hidden;
    border: 0px solid transparent;
    box-sizing: border-box;
}

.bTBMcd {
    position: absolute;
    inset: 0px;
}
.kZxOKf {
    display: block;
    background-color: rgb(255, 255, 255);
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}
.hGduSE {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    inset: 0px;
    z-index: 2;
}
.fyVdxN {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
.jdVdAT {
    width: 100%;
}
.fJTPIq {
    height: 100%;
}
.iWJRdu {
    text-align: left;
    margin-bottom: 20px;
}
/*form*/
.hCmtez {
    margin-left: -10px;
    margin-right: -10px;
    text-align: left;
}
.fhufZN {
    box-sizing: border-box;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.bBKQWp {
    padding: 10px 0px;
    border-width: 1px;
    border-radius: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    border-color: rgba(0, 0, 0, 0);
    background: transparent;
    color: rgb(0, 0, 0);
    opacity: 1;
    position: relative;
    display: flex;
    border-bottom: 1px solid lightgray !important;
    cursor: text;
}
.cjvHgB {
    position: relative;
    flex: 1 1 0%;
}

.kvsohB {
    box-sizing: border-box;
    flex-direction: column;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    /*width: 50%;*/
    padding: 0px 10px;
    margin-bottom: 20px;
}
.ckjMpy {
    opacity: 1;
    transform: none;
    position: relative;
    z-index: 1;
}
.CWjVC {
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}
.gBjtAo {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    transform: translate3d(0px, 0px, 0px);
}
.fAsWhd {
    display: flex;
    column-gap: 20px;
    -webkit-box-pack: center;
    justify-content: center;
}

.gINuAf {
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-style: normal;
    background-color: rgb(0, 102, 153);
    position: relative;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    padding: 0px;
    line-height: 1.32;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    background: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-style: solid;
    border-width: 2px;
}
.jUXzLe {
    /*padding: 11px 30px;*/
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: inherit;
    box-sizing: border-box;
    width: 100%;
}
.dqiKFy {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.CWjVC {
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.gBjtAo {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    transform: translate3d(0px, 0px, 0px);
}

.iWJRdu {
    text-align: left;
    margin-bottom: 20px;
}
.SZtf {
    margin: 0px auto;
}
.dBDOqu {
    line-height: 1.32;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    color: rgb(0, 0, 0);
}
.cDHYvE {
    margin-top: 8px;
    line-height: 1.4;
    font-size: 15px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
}